In [51]:
import pandas as pd
d={}
for i in range(10):
    string = "Table "+str(i+1)
    
    df = pd.read_csv("C:/Users/KIIT/Desktop/PRODUCTS TABLES/csv files/"+string +".csv",encoding='latin-1',error_bad_lines=False)
    
    l=list(set(df["Organisation name"]))
    string1 = list(df["Category"])[0]
    l1=[]
    for j in range(len(l)):
        l1.append(string1)
    df1 = pd.DataFrame()
    df1["Organisation name"] = l
    df1["Category"]=l1
    #df1.dropna(inplace = True)
    d[string] = df1

In [52]:
l=[]
for i in d:
    l.append(d[i])

In [53]:
result = pd.concat(l)

In [54]:
result.head()

            Organisation name                              Category
0                         NaN  RAW MATERIAL, CONSUMABLE & PROCESSES
1                A&E Metals;   RAW MATERIAL, CONSUMABLE & PROCESSES
2                         SPM  RAW MATERIAL, CONSUMABLE & PROCESSES
3  Mitsubishi Materials        RAW MATERIAL, CONSUMABLE & PROCESSES
4         AMERICAN  ELEMENTS   RAW MATERIAL, CONSUMABLE & PROCESSES

In [55]:
t=[]
for i in result["Category"]:
    t.append(i)

'RAW MATERIAL, CONSUMABLE & PROCESSES'

In [56]:
l=[]
count=0
for i in list(result["Organisation name"]):
    arr = str(i).split(";")
    for j in arr:
        l1=[]
        l1.append(j)
        l1.append(t[count])
        l.append(l1)
    count=count+1

In [57]:
df=pd.DataFrame(l)

In [58]:
df.head()

                            0                                     1
0                         nan  RAW MATERIAL, CONSUMABLE & PROCESSES
1                  A&E Metals  RAW MATERIAL, CONSUMABLE & PROCESSES
2                              RAW MATERIAL, CONSUMABLE & PROCESSES
3                         SPM  RAW MATERIAL, CONSUMABLE & PROCESSES
4  Mitsubishi Materials        RAW MATERIAL, CONSUMABLE & PROCESSES

In [59]:
count=0
for i in df[0]:
    if(i==' '):
        df.drop([count],axis=0,inplace=True)
    count=count+1

In [61]:
l1=df[0]
l2=df[1]
df1=pd.DataFrame()
df1["Organisation name"]=l1
df1["Category"]=l2

In [72]:
df1.head()

              Organisation name                              Category
1                    A&E Metals  RAW MATERIAL, CONSUMABLE & PROCESSES
3                           SPM  RAW MATERIAL, CONSUMABLE & PROCESSES
4    Mitsubishi Materials        RAW MATERIAL, CONSUMABLE & PROCESSES
5           AMERICAN  ELEMENTS   RAW MATERIAL, CONSUMABLE & PROCESSES
6  Prochem- Inc. - Rockford- IL  RAW MATERIAL, CONSUMABLE & PROCESSES

In [ ]:
#our prepared data for organisation name and category is prepared within df1

In [75]:

df = pd.read_csv("C:/Users/KIIT/Desktop/dr.soumya bannerjee/Companies/Semiconductor Corporate profiles.csv",encoding='latin-1',error_bad_lines=False)

In [77]:
df2=pd.DataFrame()
df2["Organisation name"]=df["Organization Name"]
df2["Founded Date"]=df["Founded Date"]

In [79]:
frames=[df1,df2]

In [112]:
result=pd.merge(df1,df2, how='outer',on="Organisation name")
#result = pd.concat(frames, axis=1, sort=False)
#result = pd.merge(left, right, how='outer', on=['key1', 'key2'])

#our dataset is prepared and stored in result

2

In [109]:
a=""
for i in result["Founded Date"]:
    if(str(i)!="NaN"):
        a=str(i)

In [111]:
int(a)

2000

In [114]:
count=0
for i in result["Founded Date"]:
    string = str(i)
    if(len(string)>4):
        result["Founded Date"][count]=string[6:10]
    elif (len(string)==4):
        result["Founded Date"][count]=string
    else:
        result["Founded Date"][count]='0'
    count=count+1

In [120]:
l=[]
for i in result["Founded Date"]:
    if(str(i).isnumeric()):
        l.append(int(i))
    else:
        l.append(0)

In [122]:
len(l)

9248

In [123]:
result.shape

(9248, 3)

In [124]:
result["Founded Date"]=l

In [126]:
l=[]
for i in range(9248):
    l.append('semiconductor')

In [127]:
result["high tech market"]=l

In [128]:
result.head()

,Organisation name,Category,Founded Date,high tech market
0,A&E Metals,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
1,SPM,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
2,Mitsubishi Materials,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
3,AMERICAN ELEMENTS,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
4,Prochem- Inc. - Rockford- IL,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor

In [13]:
#import pandas as pd
result1.to_csv("C:/Users/KIIT/Desktop/dr.soumya bannerjee/PRODUCTS TABLES/csv files/supplier_table.csv")

In [8]:
result["Founded Date"][result["Founded Date"]==2020]=0

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
result1=pd.DataFrame()
result1["Organisation name"]=result["Organisation name"]
result1["Category"]=result["Category"]
result1["years of foundation"]=result["Founded Date"]
result1["high tech market"]=result["high tech market"]

In [12]:
result1

,Organisation name,Category,years of foundation,high tech market
0,A&E Metals,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
1,SPM,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
2,Mitsubishi Materials,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
3,AMERICAN ELEMENTS,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
4,Prochem- Inc. - Rockford- IL,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
5,Loctite,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
6,Yunnan Germanium,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
7,Umicore,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
8,Yunnan,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
9,Chihong Zn & Ge,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
10,Teck,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
11,Zhonghao Technology,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
12,AXT Inc,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
13,JSC Germanium,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
14,Shenzhen Zhongjin Lingnan,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
15,PPM Pure Metals,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
16,Sihuan Zinc & Germanium,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
17,Indium Corporation,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
18,GEAPP,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
19,Photonic Sense,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
20,Rio Tinto Borax Mine,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
21,Reade Advanced Materials,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
22,Filmtronics,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
23,"Milward Alloys, Inc.","RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
24,Ciba-Geigy,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
25,Markem,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
26,Custom Aluminum Products,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
27,K&S/AFW,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
28,Elkem,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
29,FE Steel,"RAW MATERIAL, CONSUMABLE & PROCESSES",0,semiconductor
...,...,...,...,...
9218,"Zhengzhou Pinzheng Science and Technology Co.,...",NaN,0,semiconductor
9219,Zhengzhou Research Institute for Abrasives & G...,NaN,67,semiconductor
9220,"Zhengzhou Sinoblade Industrial Co., Ltd.",NaN,13,semiconductor
9221,Zhongji Zidonghua,NaN,16,semiconductor
9222,"Zhongshan Dahua Semiconductor Lighting Co., Ltd",NaN,19,semiconductor
9223,"Zhuhai Tongxi Electronics Technology Co., Ltd.",NaN,10,semiconductor
9224,Zia Laser,NaN,20,semiconductor
9225,Zia Semiconductor Pvt Ltd,NaN,10,semiconductor
9226,ZiiLabs,NaN,26,semiconductor
9227,Zikbit,NaN,12,semiconductor
9228,Zilker Labs,NaN,17,semiconductor
9229,"Zillion Tek Co., Ltd",NaN,0,semiconductor
9230,Zinitix,NaN,20,semiconductor
9231,Zinsser Analytic,NaN,50,semiconductor
9232,Zipcores Electronic Systems Engineering S.L.,NaN,12,semiconductor
9233,Ziptronix,NaN,20,semiconductor
9234,"ZITROK Electronics Co., Limited",NaN,0,semiconductor
9235,ZJ Innopark (Zhangjiang Hi-Tech Park),NaN,28,semiconductor
9236,"Z-MAX CO., LTD.",NaN,11,semiconductor
9237,ZMC Technologies (Singapore) Pte Ltd,NaN,0,semiconductor
9238,ZMD,NaN,59,semiconductor
9239,znt Zentren für Neue Technologien GmbH,NaN,0,semiconductor
9240,Zolt,NaN,9,semiconductor
9241,Zoran,NaN,39,semiconductor
9242,Zowie Technology,NaN,26,semiconductor
9243,zreyah semiconductor systems Pvt Ltd,NaN,13,semiconductor
9244,ZSP Corporation,NaN,0,semiconductor
9245,ZyDAS Technology,NaN,20,semiconductor
9246,Zygo,NaN,0,semiconductor
9247,Zyray Wireless,NaN,20,semiconductor